body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:902px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u4612 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:30px;
  width:72px;
  height:72px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:68px;
  word-wrap:break-word;
}
#u4613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4613 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:58px;
  width:97px;
  height:21px;
  font-size:16px;
}
#u4613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:465px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(153, 153, 153, 0.349019607843137);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  line-height:14px;
}
#u4614 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:129px;
  width:487px;
  height:465px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  line-height:14px;
}
#u4614_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:24px;
  width:469px;
  word-wrap:break-word;
}
#u4615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4617 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:204px;
  width:71px;
  height:19px;
  text-align:right;
}
#u4617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4619 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:204px;
  width:57px;
  height:19px;
  text-align:right;
}
#u4619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4621 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:383px;
  width:78px;
  height:19px;
  text-align:right;
}
#u4621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u4622 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:380px;
  width:300px;
  height:61px;
}
#u4622_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:61px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u4624 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:506px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Light', 'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4624_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u4625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4625 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:506px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4625_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u4626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u4628 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:504px;
  width:240px;
  height:34px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u4628_text {
  border-width:0px;
  position:absolute;
  left:38px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u4629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4629 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:513px;
  width:16px;
  height:16px;
  font-family:'Capitals Bold', 'Capitals';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u4629_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u4630 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:521px;
  width:0px;
  height:0px;
}
#u4630_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:105px;
  height:8px;
}
#u4630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4633 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:239px;
  width:85px;
  height:19px;
  text-align:right;
}
#u4633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4635 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:239px;
  width:29px;
  height:19px;
}
#u4635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4638 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:274px;
  width:71px;
  height:19px;
  text-align:right;
}
#u4638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4640 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:274px;
  width:43px;
  height:19px;
}
#u4640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4643 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:309px;
  width:71px;
  height:19px;
  text-align:right;
}
#u4643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4645 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:309px;
  width:127px;
  height:19px;
}
#u4645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4648 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:343px;
  width:71px;
  height:19px;
  text-align:right;
}
#u4648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4650 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:343px;
  width:127px;
  height:19px;
}
#u4650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u4651 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:644px;
  width:72px;
  height:72px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4651_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:68px;
  word-wrap:break-word;
}
#u4652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4652 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:672px;
  width:97px;
  height:21px;
  font-size:16px;
}
#u4652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:231px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(153, 153, 153, 0.349019607843137);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  line-height:14px;
}
#u4653 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:748px;
  width:562px;
  height:231px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  line-height:14px;
}
#u4653_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:24px;
  width:544px;
  word-wrap:break-word;
}
#u4654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4654 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:825px;
  width:303px;
  height:37px;
}
#u4654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  word-wrap:break-word;
}
#u4655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4655 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:908px;
  width:75px;
  height:32px;
}
#u4655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u4656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4656 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:908px;
  width:89px;
  height:32px;
}
#u4656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
